# Specifies what files should not be included in git

# Folders
.vs/
Debug/


# Kore files
*.o
.flavor
.objs
SecureWebApp.so
assets.h
cert
conf/build.conf
dh2048.pem
kore.pid


# Visual studio files
SecureWebApp.sln
SecureWebApp.vcxproj
SecureWebApp.vcxproj.filters

