# Specifies what files should not be included in git

# Folders
.vs/
Debug/
.vscode/
.idea/
cmake-build-debug/


# Kore files
*.o
.flavor
.objs
SecureWebApp.so
assets.h
cert
conf/build.conf
dh2048.pem
kore.pid
CMakeLists.txt


# Visual studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user