  <div class="headerimg">
    <div class='title'>
      <h3>Available flights</h3>
    </div>

  </div>

  <div class="content">

    <div id="flightOverView" class="container">
      <form id="search">
        Departure <input name="query" v-model="FlightOverView.query"> Destination <input name="query2" v-model="FlightOverView.query2">

      </form>

      <modal v-if="FlightOverView.showModal" @close="FlightOverView.showModal = false">
        <h3 slot="header">Flight Information</h3>
        <div slot="body">
          From: {{FlightOverView.FlightItem.flight_source}}<br> To: {{FlightOverView.FlightItem.flight_destination}}<br> Date: {{FlightOverView.FlightItem.date}}<br>          AirMiles: {{FlightOverView.FlightItem.price}}<br>
        </div>

        <div slot="footer">
          <button class="modal-default-button" @click="FlightOverView.showModal = false"> Cancel </button>
          <button class="modal-default-button" @click="book(FlightOverView.FlightItem)"> Book </button>
        </div>

      </modal>

      <div class="row">
        <div class="col-sm-8">
          <table class="table">
            <thead>
              <tr>
                <th>Departure</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Available Seats</th>
                <th>Price (AirMiles)</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="flight in tableFilter">
                <td>{{flight.flight_source}}</td>
                <td>{{flight.flight_destination}}</td>
                <td>{{flight.date}}</td>
                <td>{{flight.capacity}}</td>
                <td>{{flight.price}}</td>
                <td><button id="show-modal" @click="loadFlight(flight)">Book</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

<!-- template for the modal component -->
<script type="text/x-template" id="flightOverView-modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              defualt body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              defualt footer
              <button class="modal-default-button" @click="$emit('close')"> Cancel </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>